* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing-box-sizing: border-box; }

body {
  max-width: 1600px; }

header {
  height: 943px;
  width: 100%;
  max-width: 1600px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-blend-mode: darken; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.container {
  width: 1200px;
  margin: 0 auto; }
  .container .headerMenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #2e2f31; }
    .container .headerMenu .menu {
      width: 59%; }
      .container .headerMenu .menu ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .container .headerMenu .menu ul li {
          padding: 35px 0px 32px 70px; }
          .container .headerMenu .menu ul li a {
            font-family: 'Lato';
            font-weight: 500;
            font-size: 1em;
            color: #fff;
            padding-bottom: 26px; }
            .container .headerMenu .menu ul li a:hover {
              border-bottom: 1px solid #fff; }
  .container .headText {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 328px; }
    .container .headText h2 {
      font-family: 'MyriadPro';
      font-weight: 700;
      font-size: 4.5em; }
    .container .headText h3 {
      font-family: 'Georgia';
      font-style: italic;
      font-weight: 400;
      font-size: 2em;
      line-height: 1.4em;
      padding-top: 7px; }

.authoriz {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .authoriz .item {
    width: 50%;
    padding: 47px 0;
    font-family: 'Lato';
    font-size: 1.4em; }
    .authoriz .item a {
      color: #fff; }
      .authoriz .item a:hover {
        color: #a2a2a2; }
  .authoriz .item:first-child {
    background-color: #21424a;
    font-weight: 600;
    text-align: right;
    padding-right: 270px;
    width: 50.5%; }
  .authoriz .item:last-child {
    background-color: #2fac6c;
    font-weight: 700;
    text-align: left;
    padding-left: 242px;
    position: relative; }
    .authoriz .item:last-child::before {
      content: '';
      width: 35px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -14px;
      background-color: #2fac6c;
      transform: skewX(-14deg); }

.domain {
  text-align: center;
  font-family: 'Lato';
  padding: 90px 0; }
  .domain .titleDomain {
    padding-bottom: 35px; }
    .domain .titleDomain h3 {
      font-weight: 900;
      font-size: 2em;
      color: #383737;
      padding-bottom: 25px; }
    .domain .titleDomain p {
      font-family: 'Montserrat-ExtraLight';
      font-weight: 200;
      font-size: 1.5em;
      color: #cbcbcb; }
  .domain .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 892px;
    padding: 10px 0;
    border: 1px solid #a2a2a2;
    font-family: 'Lato'; }
    .domain .form input, .domain .form select {
      border: none; }
    .domain .form input {
      border-right: 1px solid #a2a2a2;
      border-left: 1px solid #a2a2a2;
      padding-left: 12px;
      color: #868686;
      width: 100%; }
    .domain .form .item:nth-child(2) {
      width: 84%; }
    .domain .form .item:first-child, .domain .form .item:last-child {
      width: 8%; }
    .domain .form .item:first-child, .domain .form select {
      color: #cbcbcb;
      padding: 0 8px; }
    .domain .form .item:first-child {
      font-weight: 400; }
  .domain .priceDomain {
    padding-top: 41px; }
    .domain .priceDomain table {
      margin: 0 auto;
      width: 892px;
      border: 1px solid #cbcbcb;
      padding: 15px 30px; }
      .domain .priceDomain table td {
        text-align: left;
        padding: 30px 0 30px 80px;
        font-family: 'Lato';
        width: 222px;
        font-weight: 400;
        color: #cbcbcb;
        position: relative; }
      .domain .priceDomain table tr td:nth-child(2)::after, .domain .priceDomain table tr td:nth-child(3)::after, .domain .priceDomain table tr td:nth-child(4)::after {
        content: '';
        height: 80%;
        border-left: 1px solid #cbcbcb;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
      .domain .priceDomain table tr:last-child td::before {
        content: '';
        width: 68%;
        border-top: 1px solid #cbcbcb;
        position: absolute;
        top: 0;
        left: -50%;
        margin-left: 60%; }

.aboutUs .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
  padding: 100px 0;
  border-top: 2px dotted #d6d6d6; }
  .aboutUs .container .aboutUsText {
    width: 40%;
    border-right: 2px dotted #d6d6d6; }
    .aboutUs .container .aboutUsText p {
      font-weight: 200;
      color: #747474; }
  .aboutUs .container .aboutUsFoto {
    width: 60%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 40px 0 60px; }
    .aboutUs .container .aboutUsFoto .foto-item figure img {
      width: 89px;
      height: 91px;
      border-radius: 360px;
      border: 5px solid #e5e5e5; }
    .aboutUs .container .aboutUsFoto .foto-item figure .title {
      padding-top: 10px; }
      .aboutUs .container .aboutUsFoto .foto-item figure .title h4 {
        font-weight: 600;
        color: #303030; }
      .aboutUs .container .aboutUsFoto .foto-item figure .title p {
        padding-top: 5px;
        font-weight: 400;
        color: #8e8e8e; }
    .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding-top: 10px; }
      .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item {
        height: 16px;
        width: 17px;
        background-image: url("../img/social-icons.png");
        background-repeat: no-repeat; }
      .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:first-child {
        background-position: 4px 0; }
        .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:first-child:hover {
          background-image: url("../img/social-iconsBlue.png"); }
      .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:nth-child(2) {
        background-position: -32px 0; }
        .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:nth-child(2):hover {
          background-image: url("../img/social-iconsBlue.png"); }
      .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:nth-child(3) {
        background-position: -70 0; }
        .aboutUs .container .aboutUsFoto .foto-item figure .fotoIcons .icons-item:nth-child(3):hover {
          background-image: url("../img/social-iconsBlue.png"); }

.functions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: 'Lato';
  padding: 99px 0 90px 0; }
  .functions .function-item {
    max-width: 230px; }
    .functions .function-item img {
      padding-bottom: 20px; }
    .functions .function-item h4 {
      font-weight: 900;
      font-size: 1em;
      padding-bottom: 10px;
      colot: #303030; }
    .functions .function-item p {
      font-weight: 300;
      font-size: 1em;
      color: #7e7e7e; }

footer {
  background-color: #2a2a2a; }
  footer .footerMenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #4a4a4a; }
    footer .footerMenu .footerMenu-item:last-child ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
      footer .footerMenu .footerMenu-item:last-child ul li {
        padding-left: 40px;
        font-family: 'Lato';
        font-weight: 600; }
  footer a, footer li {
    color: #686868; }
    footer a:hover, footer li:hover {
      color: #fff; }
      footer a:hover li:first-child a, footer li:hover li:first-child a {
        color: #fff; }
      footer a:hover li, footer li:hover li {
        padding-left: 20px; }
  footer .footerBottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 35px 0; }
    footer .footerBottom .footerBottom-item {
      padding: 20px 0; }
    footer .footerBottom .footerBottom-item:nth-child(2) {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around; }
    footer .footerBottom .footerBottom-item:first-child {
      width: 376px;
      font-family: 'Lato';
      color: #686868; }
      footer .footerBottom .footerBottom-item:first-child p:first-child {
        font-weight: 600; }
      footer .footerBottom .footerBottom-item:first-child p:last-child {
        font-weight: 200; }
        footer .footerBottom .footerBottom-item:first-child p:last-child span {
          font-weight: 700; }
    footer .footerBottom .footerBottom-item:nth-child(2) {
      width: 592px;
      border-right: 1px solid #393939;
      border-left: 1px solid #393939; }
      footer .footerBottom .footerBottom-item:nth-child(2) li {
        position: relative; }
        footer .footerBottom .footerBottom-item:nth-child(2) li::after {
          content: '';
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          position: absolute;
          top: 5px;
          left: -15px;
          background-image: url("../img/list-type-dark.png"); }
        footer .footerBottom .footerBottom-item:nth-child(2) li:hover {
          color: #fff; }
          footer .footerBottom .footerBottom-item:nth-child(2) li:hover::after {
            background-image: url("../img/list-type-white.png"); }
    footer .footerBottom .footerBottom-item:nth-child(3) {
      width: 318px; }
      footer .footerBottom .footerBottom-item:nth-child(3) li {
        position: relative;
        margin-left: 83px; }
        footer .footerBottom .footerBottom-item:nth-child(3) li::after {
          content: '';
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          position: absolute;
          top: 5px;
          left: -15px;
          left: -25px; }
      footer .footerBottom .footerBottom-item:nth-child(3) li:first-child::after {
        background-image: url("../img/phone.png"); }
      footer .footerBottom .footerBottom-item:nth-child(3) li:nth-child(2)::after {
        background-image: url("../img/mail.png"); }
